streamlit
opencv-python-headless
numpy<2.0.0
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
rembg
gfpgan
basicsr
facexlib
setuptools<70
